<div
  class="self-center shadow justify-self-center bg-white rounded-lg text-center w-96 p-4 m-auto"
>
  <h2>Esqueci a senha</h2>
  <form class="flex flex-col">
    <div class="form-control w-full w-full">
      <label class="label">
        <span class="label-text">Email</span>
      </label>
      <input
        type="text"
        placeholder="Type here"
        class="input input-bordered w-full w-full"
      />
    </div>

    <button class="btn btn-active btn-link">Possuo um código</button>

    <button class="btn btn-primary m-4">Login</button>
    <button class="btn btn-active btn-link">Já possuo cadastro</button>
  </form>
</div>
