:host {
  display: block;
}

.gradiente{
  background: linear-gradient(90deg, rgba(233, 239, 236,1) 0%, rgba(152,255,211,1) 31%, rgba(126,255,201,1) 62%, rgba(57,255,172,1) 100%);
}

.icon-expand_more {
  transform: scale(2);
}