<div class="w-screen h-screen flex items-center justify-center bg-slate-700">
  <div
    class="w-min-fit shadow p-4 border rounded-xl bg-white items-center m-4 flex flex-col"
  >
    <h2 class="text-center text-2xl w-3/4 text-slate-700 mb-auto">
      Página não encontrada!
    </h2>
    <div
      class="px-4 py-8 bg-sky-100 w-3/4 h-fit my-4 text-sky-600 flex items-center text-xl rounded-lg"
    >
      A página que você tentou acessar não existe!
    </div>

    <img
      class="astronault-animation object-cover my-4 w-3/4"
      src="/assets/images/svgs/404_ilustration.svg"
    />

    <a href="/" class="w-full">
      <button class="btn mt-auto text-white w-full btn-info">
        Voltar para o início
      </button>
    </a>
  </div>
</div>
